@import "~src/variables";

.state-cancelled {
  background-color: $palette-color-two
}

.state-option,
.state-inactive {
  background-color: $palette-color-three
}

.state-confirmed,
.state-active {
  background-color: $palette-color-four
}
